/*Products*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.products li {
  flex: 1 1 29rem;
  height: 47rem;
  padding: 1 rem;
  margin: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.products img {
  max-width: 37rem;
  max-width: 37rem;
}
