@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");

html {
  font-size: 60;
  box-sizing: border-box;
  font-family: "Baloo Tammudu 2", cursive;
}

body,
#root {
  margin: 0;
}

.content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.products li {
  flex: 1 1 29rem;
  height: 47rem;
  padding: 1 rem;
  margin: 1rem;
}
.product {
  text-align: center;
  height: 50%;
}

.product p {
  font-size: 14px;
}

.products img {
  height: 250px;
  width: 200px;
}

.product-price {
  justify-content: center;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
}

.product-price div {
  font-size: 20px;
}

.order-cat {
  margin-left: 100px;
}

.order-cat button {
  padding: 10;
  background-color: black;
  border: none;
  color: white;
}

.button {
  border: none;
  width: 200px;
  color: white;
  padding: 10px;
  background-color: black;
  cursor: pointer;
}

.new1 {
  width: 20px;
  margin-left: 45%;
  border: 1px solid gold;
}

.button-primary {
  background-color: chartreuse;
}

/*SideBar*/

.size {
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
}

.dot {
  border: none;
  height: 32px;
  width: 32px;
  font-size: 11px;
  margin-left: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot-container {
  padding: 20px;
}

/* Product Header */

.product-header {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.numOf-products {
  font-size: 18px;
  font-weight: bold;
}

.select {
  border: 0.5px solid black;
  font-size: 12px;
  width: 75px;
  line-height: 3;
  overflow: hidden;
  font-size: 12px;
  border-radius: 0.25em;
  cursor: pointer;
}

/*Checkout*/

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
